
.er-dummy-search-box{
    height: 33px;
    padding: 0!important;
    border: 2px solid #3A8A64!important;
    background-color: adjust-color(#fff, $alpha: -0.20);
    border-radius: 31px;
    overflow: hidden;
    box-sizing:border-box;
    box-shadow: none;
}

.er-search-form, .er-dummy-search{
    display: flex!important;
    height: 100% !important;
}

.er_search_input_dummy{
    background-color: transparent!important;
    display: flex!important;
    height: 100% !important;
    width: 100%;
    padding-left: 15px;

    @media (max-width: 479.98px) {
        width: 100%
    }
}

.er_search_button_dummy{
    background-color: #3A8A64!important;
    color: #fff!important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px!important;
    height: 100% !important;
    overflow: hidden;
    outline: none;
    border-radius: 0 25px 25px 0;
}


@media (max-width: 1023.98px) {

    .er-dummy-search-box{
        width: min(25vw + 8px, 250px)!important;
        border-radius: 25px;
    }

    .er_search_button_dummy{
        width: 35px;
    }

}

@media (max-width: 767.98px) {

    .er-dummy-search-box{
        width: min(45vw + 60px, 562px)!important;
        height: 30px;
    }
}

@media (max-width: 674.98px) {

    .er-dummy-search-box{
        width: 100%!important;
        height: 28px;
    }
}