---
import Hero from "./../Hero.astro";

import Icon from "./Icon.astro";
import { Picture } from "@astrojs/image/components";
import Markdown from "@astrojs/markdown-component";

const { page } = Astro.props;

const {
  Title: title,
  Intro_text: intro_text,
  Block_blob: block_blob,
  Images,
  Block_title: block_title,
  Block_text: block_text,
} = page;

const blob = block_blob?.data?.attributes;

const images = Images?.data?.map(({ attributes }) => attributes),
  imagesCount = images.length,
  gridCount = imagesCount / 3;
---

<style lang="scss">
  .detailsBannerImgContainer {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 24px;
  }

  .ImgGrid {
    grid-auto-rows: clamp(150px, 25vw + 55px, 250px);
    grid-template-columns: 50% 50%;

    @media (min-width: 768px) {
      grid-auto-rows: clamp(250px, 25vw + 55px, 350px);
      grid-template-columns: 60% auto;
    }
  }

  .ImgGrid2 {
    grid-auto-rows: clamp(150px, 25vw + 55px, 250px);
    grid-template-columns: 50% 50%;
    margin: 0;

    @media (min-width: 768px) {
      grid-auto-rows: clamp(250px, 25vw + 55px, 350px);
      grid-template-columns: auto 60%;
      margin: clamp(10px, 1vw + 0.5rem, 26px) 0;
    }
  }
</style>

<Hero {page} {intro_text} />

{
  (block_blob?.data?.length > 0 ||
    Images?.data?.length > 2 ||
    block_title ||
    block_text) && (
    <div class="py-[75px]">
      {block_blob?.data && (
        <div class="wrapper mx-auto px-8 xl:px-3 overflow-x-hidden">
          <div
            role="banner"
            class="overflow-hidden w-full detailsBannerImgContainer"
          >
            <Picture
              class="w-full h-full object-cover"
              src={blob?.url}
              widths={[365, 1240]}
              aspectRatio={blob.width + `:` + blob.height}
              sizes="(max-width: 425px) 100vw, 1240px"
              format="webp"
              alt={blob.alternativeText}
            />
          </div>
        </div>
      )}

      {Images?.data?.length > 2 && (
        <div
          class:list={[
            "wrapper overflow-x-hidden mx-auto md:px-8 xl:px-3",
            page.Block_blob?.data && "pt-10",
          ]}
        >
          {images.slice(0, gridCount).map((image, idx) => {
            const even = idx % 2 == 0;

            return (
              <>
                {/*Mobile screen image grid*/}

                <div class="grid md:hidden grid-cols-2 md:grid-cols-3 ImgGrid">
                  {Images.data.slice(0, 3).map((img, idx) => {
                    const blob = img.attributes;

                    return (
                      <div
                        class={
                          idx === 0 ? "col-span-2 row-span-2" : "col-span-1"
                        }
                      >
                        <div
                          class:list={[
                            "overflow-hidden block md:hidden w-full h-full",
                            "rounded-none md:rounded-[clamp(10px,2vw+0.5rem,46px)]",
                          ]}
                        >
                          {idx === 0 ? (
                            <Picture
                              class="w-full h-full object-cover"
                              src={blob?.url}
                              widths={[425, 767]}
                              aspectRatio={blob.width + `:` + blob.height}
                              sizes="(max-width: 425px) 100vw, 767px"
                              format="webp"
                              alt={blob?.alternativeText}
                            />
                          ) : (
                            <Picture
                              class="w-full h-full object-cover"
                              src={blob?.url}
                              widths={[212, 385]}
                              aspectRatio={blob.width + `:` + blob.height}
                              sizes="(max-width: 425px) 100vw, 385px"
                              format="webp"
                              alt={blob?.alternativeText}
                            />
                          )}
                        </div>
                      </div>
                    );
                  })}
                </div>

                {/*Desktop screen image grid*/}

                <div
                  class:list={[
                    "hidden md:grid grid-cols-2 md:grid-cols-3 gap-0 md:gap-[clamp(10px,1vw+0.5rem,26px)]",
                    even ? "ImgGrid" : "ImgGrid2",
                  ]}
                >
                  {Images.data.splice(0, 3).map((img, idx) => {
                    const blob = img.attributes;

                    return (
                      <div
                        class={
                          even
                            ? idx === 0
                              ? "col-span-2 md:col-span-1 row-span-2"
                              : "col-span-1"
                            : idx === 1
                            ? "col-span-2 md:col-span-1 row-span-2"
                            : "col-span-1"
                        }
                      >
                        <div
                          class:list={[
                            "overflow-hidden hidden md:block w-full h-full",
                            "rounded-none md:rounded-[clamp(10px,2vw+0.5rem,46px)]",
                          ]}
                        >
                          {even ? (
                            idx === 0 ? (
                              <Picture
                                class="w-full h-full object-cover"
                                src={blob?.url}
                                widths={[740]}
                                aspectRatio={blob.width + `:` + blob.height}
                                sizes="740px"
                                format="webp"
                                alt={blob?.alternativeText}
                              />
                            ) : (
                              <Picture
                                class="w-full h-full object-cover"
                                src={blob?.url}
                                widths={[470]}
                                aspectRatio={blob.width + `:` + blob.height}
                                sizes="470px"
                                format="webp"
                                alt={blob?.alternativeText}
                              />
                            )
                          ) : idx === 1 ? (
                            <Picture
                              class="w-full h-full object-cover"
                              src={blob?.url}
                              widths={[740]}
                              aspectRatio={blob.width + `:` + blob.height}
                              sizes="740px"
                              format="webp"
                              alt={blob?.alternativeText}
                            />
                          ) : (
                            <Picture
                              class="w-full h-full object-cover"
                              src={blob?.url}
                              widths={[470]}
                              aspectRatio={blob.width + `:` + blob.height}
                              sizes="470"
                              format="webp"
                              alt={blob?.alternativeText}
                            />
                          )}
                        </div>
                      </div>
                    );
                  })}
                </div>
              </>
            );
          })}
        </div>
      )}

      <div class="wrapper overflow-x-hidden mx-auto px-8 xl:px-3 pt-[75px]">
        {block_title && (
          <h2
            class:list={[
              block_text && "mb-10",
              "text-[clamp(2.125rem,4vw+.3rem,3rem)] font-semibold",
            ]}
          >
            {block_title}
          </h2>
        )}

        <div class="text-xl prose">
          <Markdown>{block_text}</Markdown>
        </div>
      </div>
    </div>
  )
}
