---
import Hero from "./../Hero.astro";
import BoatCard from "./../BoatCard.astro";

const { page } = Astro.props;

const { Intro_text: intro_text, posts, googleMapsData } = page;
---

<Hero {page} {intro_text} />

<div
  class="wrapper mx-auto flex flex-wrap gap-16 px-8 xl:px-3 py-10"
  role="list"
>
  {
    posts
      .map(({ attributes }) => attributes)
      .map((boat) => <BoatCard {boat} {googleMapsData} />)
  }
</div>
