---
import Hero from "./../Hero.astro";
import HomeSchema from "./../HomeSchema.astro";
import AboutUsIntro from "./../AboutIntro.astro";
import HomepageTodo from "./../HomepageTodo.astro";
import HomepageAccommodation from "./../HomepageAccommodation.astro";
import HomepageBoat from "./../HomepageBoat.astro";
import HomepageReview from "./../HomepageReview.astro";
import HomepageInstagram from "./../HomepageInstagram.astro";

const { page, genericData } = Astro.props;

const {
  Intro_text: intro_text,
  Intro_button_text: btnText,
  Intro_button_link: link,
  todos,
  accommodations,
  googleMapsData,
  About_section_visibility: about,
  About_section_order,
  Todo_section_visibility: todo,
  Todo_section_order,
  Accommodation_section_visibility: accommodation,
  Accommodation_section_order,
  Review_section_visibility: review,
  Review_section_order,
  Boat_section_visibility: boat,
  Boat_section_order,
  Instagram_section_visibility: instagram,
  Instagram_section_oder,
} = page;

const posts = todos.concat(accommodations);
const allPosts = posts.map(({ attributes }) => attributes);
const post = allPosts[(Math.random() * allPosts.length) | 0];

const orderArray = [
	Todo_section_order + `todo`,
	Boat_section_order + `boat`,
	About_section_order + `about`,
	Review_section_order + `review`,
	Instagram_section_oder + `instagram`,
	Accommodation_section_order + `accommodation`,
].sort();

const order = orderArray.map(val => val.substring(1));
---

<Hero {page} {intro_text} {link} {btnText} />

{
	order.map(name => (
		name === "about" && about
			? <AboutUsIntro page={genericData} />
			: name === "todo" && todo 
			?	<HomepageTodo {page} />
			: name === "accommodation" && accommodation
			?	<HomepageAccommodation {page} />
			: name === "review" && review
			?	<HomepageReview {post} {googleMapsData} />
			: name === "boat" && boat
			?	<HomepageBoat {page} />
			: name === "instagram" && instagram
			?	<HomepageInstagram {page} {genericData} />
			: null
	))
}

<HomeSchema {page} posts={allPosts} />