---
import PlaybtnIcon from "/images/playbtn.svg";

import Icon from "./../Icon.astro";
import Hero from "./../Hero.astro";
import DefaultCardLayout from "../../layouts/DefaultCardLayout.astro";

import { Picture } from "@astrojs/image/components";
import Markdown from "@astrojs/markdown-component";
import { Schema } from "astro-seo-schema";

const { page } = Astro.props as Props;
const domain = Astro.site.origin,
  { ASSETS_URL: url } = import.meta.env;

const {
  Title: title,
  Description: description,
  Intro_blob,
  Block_blob,
  type: pageType,
  Type: dataType,
  Public_access,
  Free_accessible,
  Pets_allowed,
  Cuisine: cuisine,
  Book_link,
  googleMapsData,
  google_place_id,
  QA: question,
  slug,
  SEO: { URL_slug: slug_url },
} = page;

const intro_blob = Intro_blob?.data?.attributes,
  block_blob = Block_blob?.data?.attributes;

const [intro_text] = description.split("\n"),
  Block_description = description.replace(intro_text, "");

const posts = page.posts
  .map(({ props }) => props.page)
  .filter(({ SEO: { URL_slug } }) => URL_slug !== slug_url)
  .sort((a, b) => {
    return new Date(b.createdAt) - new Date(a.createdAt);
  });

const [googleData] = googleMapsData?.filter(
  ({ place_id }) => place_id === google_place_id
);

const bestReviewList = googleData?.reviews && (
  googleData?.reviews.sort(function (a, b) {
    return b?.rating - a?.rating;
  })
)

const bestReview = bestReviewList?.pop();

function address(type) {
  const item = googleData?.address_components.filter((x) => x.types[0] == type);

  return item?.length > 0
    ? type === "country"
      ? item[0]?.long_name
      : item[0]?.short_name
    : "";
}

const country = address("country"),
  postal_code = address("postal_code"),
  region = address("administrative_area_level_1"),
  locality = address("administrative_area_level_2"),
  extended_address =
    (address("administrative_area_level_4")?.length > 0
      ? address("administrative_area_level_4") + `, `
      : "") + address("administrative_area_level_3"),
  street_address =
    (address("plus_code")?.length > 0 ? address("plus_code") + `, ` : "") +
    (address("route")?.length > 0 ? address("route") + `, ` : "") +
    extended_address;
---

<Hero {page} {intro_text} link={Book_link} btnText={"Book Now"} />

<div class="wrapper mx-auto px-8 xl:px-3 py-10 pb-20 overflow-x-hidden">
  {
    block_blob && (
      <div
        role="banner"
        class="overflow-hidden mb-10 aspect-[16/9] w-full rounded-[24px]"
      >
        <Picture
          class="w-full h-full object-cover"
          src={block_blob?.url}
          widths={[365, 1240]}
          aspectRatio={block_blob.width + `:` + block_blob.height}
          sizes="(max-width: 425px) 100vw, 1240px"
          format="webp"
          alt={block_blob.alternativeText}
        />
      </div>
    )
  }

  <div class="text-xl prose markdown">
    <Markdown>{Block_description}</Markdown>
    {
      Book_link && (
        <div class="flex">
          <a
            href={Book_link}
            class="px-6 py-2 text-base font-medium text-white rounded-full bg-primary shadow1"
          >
            Book Now
          </a>
        </div>
      )
    }
  </div>

  {
    question && (
      <div class="pt-20">
        {question.map(({ Question, Answer, Blob: { data: blob } }) => (
          <div class="mb-[60px]">
            <h3
              id={Question.toLowerCase().replace(" ", "-")}
              class="text-2xl font-bold"
            >
              {Question}
            </h3>

            <div class="text-xl prose markdown my-[30px]">
              <Markdown>{Answer}</Markdown>
            </div>

            {blob && (
              <div class="overflow-hidden w-full max-w-[600px] rounded-[24px]">
                <Picture
                  class="w-full h-full object-cover"
                  src={blob?.attributes.url}
                  widths={[365, 600]}
                  aspectRatio={
                    blob?.attributes.width + `:` + blob.attributes.height
                  }
                  sizes="(max-width: 425px) 100vw, 600px"
                  format="webp"
                  alt={blob.attributes.alternativeText}
                />
              </div>
            )}
          </div>
        ))}

        <Schema
          item={{
            "@context": "https://schema.org",
            "@type": "FAQPage",
            mainEntity: [
              question.map(({ Question, Answer, Blob: { data: blob } }) => ({
                "@type": "Question",
                name: Question,
                acceptedAnswer: {
                  "@type": "Answer",
                  text: Answer,
                  thumbnailUrl: blob && domain + blob?.attributes.url,
                  url: `${domain}/${slug}/#${Question.toLowerCase().replace(
                    " ",
                    "-"
                  )}`,
                },
              })),
            ],
          }}
        />
      </div>
    )
  }
</div>

<div class="wrapper flex flex-wrap mx-auto">
  <div
    class="hidden lg:flex w-1/12 flex items-center justify-center my-auto z-10"
  >
    <div class="relative flex items-center -mt-10">
      <div
        class="absolute lg:right-5 xl:right-10 z-10 w-[clamp(200px,50vw+25px,1250px)]"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 833.4 788.3">
          <path
            d="M267.4,49.9C121.5,114.2,84.1,276.1,45.2,406.3,7,534.3-38.8,682.7,56.5,756.4c91.9,71.1,259,6.2,401.9-30.5,120.6-31.1,254.3-61.8,329-157.4,72-92.1,46.2-193.8,12.1-279-28.4-71.1-109-220-184.6-254.1C501.6-15.6,408.2-12.1,267.4,49.9Z"
            fill="#4a9471"></path>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="wrapper relative z-20 overflow-x-hidden mx-auto px-8 xl:px-3 pb-20">
  <h2
    class="pb-3 lg:pb-5 font-semibold text-[clamp(1.95rem,3vw+0.3rem,2.8rem)]"
  >
    Other
    {pageType === "todoDetails" ? "things to do" : "accommodations"}
  </h2>

  <DefaultCardLayout posts={posts.slice(0, 3)} {googleMapsData} />

  <div class="flex justify-center items-center mt-16">
    <a
      href={pageType === "todoDetails" ? "/todo/" : "/accommodation/"}
      class="inline-flex items-center justify-center py-1.5 px-5 mt-3 text-lg font-medium rounded-full bg-downy"
    >
      See All
      {pageType === "todoDetails" ? "Things To Do" : "Accommodations"}
      <div class="h-3.5 ml-2.5">
        <Icon class="w-full h-full" src={PlaybtnIcon} />
      </div>
    </a>
  </div>
</div>

<Schema
  item={{
    "@context": "https://schema.org",
    "@type":
      dataType !== null
        ? [
            dataType?.LocalBusiness === true ? "LocalBusiness" : "",
            dataType?.Landform === true ? "Landform" : "",
            dataType?.Accommodation === true ? "Accommodation" : "",
            dataType?.Restaurant === true ? "Restaurant" : "",
            dataType?.TouristAttraction === true ? "TouristAttraction" : "",
          ].filter(Boolean)
        : "LocalBusiness",
    image:
      block_blob !== null
        ? [domain + intro_blob.url, domain + block_blob.url]
        : domain + intro_blob.url,
    name: title,
    description: `${(await Astro.__renderMarkdown(intro_text)).replace(
      /(<([^>]+)>)/gi,
      ""
    )}`,
    address: {
      "@type": "PostalAddress",
      streetAddress: street_address,
      addressLocality: locality,
      addressRegion: region,
      postalCode: postal_code,
      addressCountry: country,
    },
    review:
      dataType?.Restaurant === true &&
      dataType?.Accommodation === true &&
      dataType?.LocalBusiness === true
        ? {
            "@type": "Review",
            reviewRating: {
              "@type": "Rating",
              ratingValue: googleData?.rating,
              bestRating: bestReview?.rating,
            },
            author: {
              "@type": "Person",
              name: bestReview?.author_name,
            },
          }
        : "",
    geo: {
      "@type": "GeoCoordinates",
      latitude: googleData?.geometry.location.lat,
      longitude: googleData?.geometry.location.lng,
    },
    url: `${domain}/${slug}`,
    telephone: googleData?.international_phone_number,
    servesCuisine:
      cuisine !== null ? cuisine?.map(({ Variant_name }) => Variant_name) : "",
    openingHoursSpecification: googleData?.opening_hours?.periods.map(
      (item) => ({
        "@type": "OpeningHoursSpecification",
        dayOfWeek:
          item.open.day === 0
            ? "Monday"
            : item.open.day === 1
            ? "Tuesday"
            : item.open.day === 2
            ? "Wednesday"
            : item.open.day === 3
            ? "Thursday"
            : item.open.day === 4
            ? "Friday"
            : item.open.day === 5
            ? "Saturday"
            : "Sunday",
        opens:
          item?.open !== undefined
            ? `${item.open?.time.substring(0, 2)}:${item.open?.time.substring(
                2,
                4
              )}`
            : "",
        closes:
          item?.close !== undefined
            ? `${item.close?.time.substring(0, 2)}:${item.close?.time.substring(
                2,
                4
              )}`
            : "",
      })
    ),
    publicAccess: Public_access !== null ? Public_access : "",
    isAccessibleForFree: Public_access !== null ? Free_accessible : "",
    petsAllowed:
      dataType?.Landform === false && dataType?.LocalBusiness === false
        ? Pets_allowed !== null
          ? Pets_allowed
          : ""
        : "",
    acceptsReservations:
      dataType?.Landform === false && dataType?.Accommodation === false
        ? Book_link !== null && Book_link?.length > 1
          ? true
          : ""
        : "",
  }}
/>
