---
import Hero from "./../Hero.astro";
import DefaultCardLayout from "../../layouts/DefaultCardLayout.astro";
import AboutIntro from "./../AboutIntro.astro";

import Markdown from "@astrojs/markdown-component";

const { page, genericData } = Astro.props;

const posts = page.posts
  .map(({ props }) => props.page);
---

<Hero page={page} intro_text={page.Intro_text} />

<div class="wrapper overflow-x-hidden px-8 xl:px-3 py-36 mx-auto">
  <DefaultCardLayout posts={posts} googleMapsData={page.googleMapsData} />
</div>

<AboutIntro page={genericData} />
