---
import PlaybtnIcon from "/images/playbtn.svg";
import GIcon from "/images/G.svg";
import TripadvisorIcon from "/images/tripadvisor.svg";

import Icon from "./Icon.astro";
import { Picture } from "@astrojs/image/components";

const { boat, googleMapsData } = Astro.props;

const {
  Title: title,
  Logo: {
    data: { attributes: logo },
  },
  Boat_image: {
    data: { attributes: blob },
  },
  Departure,
  Tripadvisor_link,
  Homepage_link,
  Book_link,
} = boat;

const mapsUrlPrefix =
    "https://www.google.com/maps/search/?api=1&query=Google&query_place_id=",
  googleReviewPrefix = "https://search.google.com/local/reviews?placeid=";

const [googleData] = googleMapsData?.filter(
  ({ place_id }) => place_id === Departure[0]?.Ending_point_google_place_id
);

const reviews = googleData?.reviews
  .filter(({ rating }) => rating >= 4)
  .sort(function (a, b) {
    return b.rating - a.rating;
  });

const [boat_time] = Departure.map(({ Time }) => Time),
  boat_Departure = boat_time
    ?.map(({ Departure_time }) => Departure_time)
    .filter((x) => x),
  boat_Return = boat_time
    ?.map(({ Return_time }) => Return_time)
    .filter((x) => x);

function hourFormat(timeString) {
  const [hourString, minute] = timeString.split(":");
  const hour = +hourString % 24;
  return (hour % 12 || 12) + "." + minute;
}

function formatTime(timeString) {
  const [hourString, minute] = timeString.split(":");
  const hour = +hourString % 24;
  return hour < 12 ? "\xa0AM" : "\xa0PM";
}
---

<style lang="scss">
  .boatCard {
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
  }

  .boatLogoContainer {
    height: clamp(36px, 4vw + 1.5px, 52px);
    width: clamp(36px, 4vw + 1.5px, 52px);
  }

  .boatImgContainer {
    height: clamp(50px, 45vw + 8px, 400px);

    @media (min-width: 768px) {
      height: 400px;
    }
  }

  .boatCardTxt {
    font-size: 0.975rem;
  }

  .timeTxt {
    font-size: 1rem;
  }

  .boatCardImgContainer {
    height: clamp(27px, 4vw + 1px, 36px);
    width: clamp(27px, 4vw + 1px, 36px);
  }

  @media (max-width: 474.98px) {
    .boatCardTxt,
    .timeTxt {
      font-size: 0.813rem;
    }
  }

  @media (max-width: 324.98px) {
    .boatCardTxt,
    .timeTxt {
      font-size: 0.675rem;
    }
  }

  .stars-outer {
    display: flex;
    position: relative;

    &:before {
      content: "\2606 \2606 \2606 \2606 \2606";
      font-size: 11px;
      color: #b0b0b0;
    }
  }

  .stars-inner {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;

    &:before {
      content: "\2605 \2605 \2605 \2605 \2605";
      font-size: 11px;
      color: #ffd203;
    }
  }
</style>
<div
  class="boatCard p-[30px] w-full rounded-[24px] bg-white"
  role="listitem"
  aria-label={title}
  id={title.replaceAll(" ", "-").toLowerCase()}
>
  <div class="w-full flex items-center">
    <div
      class="overflow-hidden bg-white rounded-full p-1 shadow1 boatLogoContainer"
    >
      {
        logo.ext === ".svg" ? (
          <Icon class="w-full h-full object-contain" src={logo.url} />
        ) : (
          <Picture
            class="w-full h-full object-contain"
            src={logo?.url}
            widths={[28, 44]}
            aspectRatio={logo.width + `:` + logo.height}
            sizes="(max-width: 860px) 100vw, 44px"
            format="webp"
            alt={logo?.alternativeText}
          />
        )
      }
    </div>
    <h2 class="text-xl font-medium pl-4">{title}</h2>
  </div>

  <div class="grid lg:grid-cols-11 gap-10 lg:gap-12 my-8">
    <div class="lg:col-span-5">
      <div class="overflow-hidden w-full rounded-[27px] boatImgContainer">
        <Picture
          class="w-full h-full object-cover z-10"
          src={blob?.url}
          widths={[300, 800, 510]}
          aspectRatio={blob.width + `:` + blob.height}
          sizes="(max-width: 425px) 100vw, (max-width: 1023px) 800px, 510px"
          format="webp"
          alt={blob.alternativeText}
        />
      </div>
    </div>
    <div class="lg:col-span-6 grid content-between">
      {
        boat_Departure?.length > 0 && boat_Return?.length > 0 && (
          <div class="w-full sm:w-4/5 md:w-full grid grid-cols-5 gap-x-2.5 gap-y-3 mb-8">
            {boat.Departure.map((item) => (
              <>
                <div class="col-span-2">
                  <div class="boatCardTxt font-bold">Trips</div>
                </div>
                <div class="col-auto text-center">
                  <div class="boatCardTxt font-bold">Time:</div>
                </div>
                <div class="col-span-2">
                  <div class="boatCardTxt font-bold pl-4">Price:</div>
                </div>

                {boat_Departure?.length > 0 && (
                  <>
                    <div class="col-span-2">
                      <div class="flex flex-wrap">
                        <a
                          href={
                            mapsUrlPrefix + item.Starting_point_google_place_id
                          }
                          class="block font-medium leading-[160%] boatCardTxt"
                        >
                          {item.Starting_point_name}
                        </a>
                        <span class="mx-2 text-lg font-extrabold leading-4">
                          &#8640;
                        </span>
                        <a
                          href={
                            mapsUrlPrefix + item.Ending_point_google_place_id
                          }
                          class="block font-medium leading-[160%] boatCardTxt"
                        >
                          {item.Ending_point_name}
                        </a>
                      </div>
                    </div>

                    <div class="col-auto justify-center items-center text-center">
                      {item.Time.map(
                        (time) =>
                          time.Departure_time && (
                            <div class="timeTxt leading-[175%]">
                              {hourFormat(time.Departure_time)}
                              {formatTime(time.Departure_time)}
                            </div>
                          )
                      )}
                    </div>
                    <div class="col-span-2">
                      <div>
                        <div class="flex flex-wrap font-medium leading-[160%] boatCardTxt">
                          IDR {item.IDR_price_one_way_adult} (adult)
                        </div>
                        <div class="flex flex-wrap font-medium leading-[160%] boatCardTxt">
                          IDR {item.IDR_price_one_way_child}(
                          {item.Price_child_age_range
                            ? item.Price_child_age_range + `\xa0years`
                            : `child`}
                          )
                        </div>
                      </div>
                    </div>
                  </>
                )}

                {boat_Return?.length > 0 && (
                  <>
                    <div class="col-span-2">
                      <div class="flex flex-wrap">
                        <a
                          href={
                            mapsUrlPrefix + item.Starting_point_google_place_id
                          }
                          class="block font-medium leading-[175%] boatCardTxt"
                        >
                          {item.Starting_point_name}
                        </a>
                        <span class="mx-2 text-lg font-extrabold leading-4">
                          &#8637;
                        </span>
                        <a
                          href={
                            mapsUrlPrefix + item.Ending_point_google_place_id
                          }
                          class="block font-medium leading-[175%] boatCardTxt"
                        >
                          {item.Ending_point_name}
                        </a>
                      </div>
                    </div>
                    <div class="col-auto justify-center items-center text-center">
                      {item.Time.map(
                        (time) =>
                          time.Return_time && (
                            <div class="timeTxt leading-[175%]">
                              {hourFormat(time.Return_time)}
                              {formatTime(time.Return_time)}
                            </div>
                          )
                      )}
                    </div>
                    <div class="col-span-2">
                      <div>
                        <div class="flex flex-wrap font-medium leading-[160%] boatCardTxt">
                          IDR {item.IDR_price_return_adult} (adult)
                        </div>
                        <div class="flex flex-wrap font-medium leading-[160%] boatCardTxt">
                          IDR {item.IDR_price_return_child}(
                          {item.Price_child_age_range
                            ? item.Price_child_age_range + `\xa0years`
                            : `child`}
                          )
                        </div>
                      </div>
                    </div>
                  </>
                )}
              </>
            ))}
          </div>
        )
      }

      <div class="w-full">
        {
          reviews?.slice(0, 1).map((review) => (
            <>
              <div class="w-full mb-6 font-bold leading-[175%] boatCardTxt">
                Reviews:
              </div>

              <div class="flex flex-wrap items-center">
                <div class="overflow-hidden mr-2.5 rounded-full boatCardImgContainer">
                  <Picture
                    class="w-full h-full object-cover"
                    src={review.profile_photo_url}
                    widths={[29, 39]}
                    aspectRatio="1:1"
                    sizes="(max-width: 650px) 100vw, 38px"
                    format="webp"
                    alt="avatar"
                  />
                </div>
                <div>
                  <div class="flex items-center gap-1 pb-0.5">
                    <div class="h-2.5 w-2.5">
                      <Icon class="w-full h-full" src={GIcon} />
                    </div>
                    <div class="stars-outer my-auto">
                      <div
                        class="stars-inner"
                        style={`width:${reviews.rating * 20}%`}
                      />
                    </div>
                  </div>
                  <div class="font-bold capitalize leading-[175%] boatCardTxt">
                    {review.author_name}
                  </div>
                </div>
              </div>

              <div class="roboto text-sm line-clamp-5 my-5">{review.text}</div>
            </>
          ))
        }

        {
          googleData && (
            <div class="flex flex-wrap gap-4 md:gap-10">
              <div class="flex items-center gap-1 md:gap-2.5">
                <a
                  href={
                    googleReviewPrefix +
                    Departure[0]?.Starting_point_google_place_id
                  }
                >
                  <div class="h-5 md:h-6 w-5 md:w-6">
                    <abbr title="Google maps link">
                      <Icon class="w-full h-full" src={GIcon} />
                    </abbr>
                  </div>
                </a>
                <div
                  class:list={[
                    "bg-viridian2 flex items-center justify-center px-4 py-0.5 gap-x-1.5 md:gap-x-3",
                    "font-[clamp(0.5rem,1.1vw +.1rem,0.8125rem)] font-medium rounded-[26px]",
                  ]}
                >
                  <span class="text-base font-bold text-yellow">&#9733;</span>
                  {googleData?.rating}
                </div>
                <div class="text-[10px] font-semibold">
                  ({googleData?.user_ratings_total})
                </div>
              </div>
              <div class="flex items-center gap-1 md:gap-2.5">
                <a href={Tripadvisor_link}>
                  <div class="h-5 md:h-6 w-5 md:w-6">
                    <abbr title="Tripadvisor link">
                      <Icon class="w-full h-full" src={TripadvisorIcon} />
                    </abbr>
                  </div>
                </a>
              </div>
            </div>
          )
        }

        <div
          class="flex flex-wrap items-center lg:justify-between gap-3 sm:gap-x-10 mt-14"
        >
          <a
            href={Homepage_link}
            class="leading-4 font-semibold capitalize color-green-pea flex underline-animated"
          >
            Visit Site
          </a>
          <a
            href={Book_link}
            class="py-1.5 px-5 inline-flex items-center justify-center font-medium rounded-full bg-downy"
          >
            Book now
            <div class="h-3.5 ml-2.5">
              <Icon class="w-full h-full" src={PlaybtnIcon} />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
