---
import PlaybtnIcon from "/images/playbtn.svg";

import Icon from "./Icon.astro";
import { Picture } from "@astrojs/image/components";
import Markdown from "@astrojs/markdown-component";

const { post, googleMapsData } = Astro.props;

const {
  Title: title,
  Description: description,
  Intro_blob: {
    data: { attributes: blob },
  },
  google_place_id,
  slug,
  Book_link,
} = post;

const [googleData] = googleMapsData?.filter(
  ({ place_id }) => place_id === google_place_id
);

const [intro_text] = description.split("\n");
---

<style lang="scss">
  .defaultCard {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
    transition: all 0.3s;

    &:hover {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
  }

  .defaultCardImgContainer {
    width: 100%;
    aspect-ratio: 3.3 / 2.63;
  }

  .stars-outer {
    position: relative;

    &:before {
      content: "\2606 \2606 \2606 \2606 \2606";
      color: #b0b0b0;
    }
  }

  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;

    &:before {
      content: "\2605 \2605 \2605 \2605 \2605";
      color: #ffd203;
    }
  }
</style>
<div
  class="defaultCard bg-white overflow-hidden rounded-[24px]"
  role="listitem"
  aria-label={title}
>
  <div class="overflow-hidden defaultCardImgContainer">
    <a href={`/${slug}/`} class="cursor-pointer">
      <div class="w-full h-full">
        <Picture
          class="w-full h-full object-cover"
          src={blob?.url}
          widths={[280, 390]}
          aspectRatio={blob.width + `:` + blob.height}
          sizes="(max-width: 1023px) 100vw, 390px"
          format="webp"
          alt={blob?.alternativeText}
        />
      </div>
    </a>
  </div>
  <div class="px-4 pt-4 pb-5 lg:pb-8">
    <div class="mb-2 text-xl font-bold text-greenpea">
      <a href={`/${slug}/`} class="cursor-pointer">
        {title}
      </a>
    </div>
    <div class="prose mb-2 leading-[120%] line-clamp-3">
      <Markdown>{intro_text}</Markdown>
    </div>
    <div class="flex items-center gap-1 md:gap-2.5">
      <div class="stars-outer flex my-auto text-sm sm:text-base">
        <div
          class="stars-inner flex text-sm sm:text-base"
          style={`width:${googleData?.rating * 20}%`}
        >
        </div>
      </div>

      <div class="flex items-center gap-1.5">
        <div class="sm:text-[17px] font-semibold">{googleData?.rating}</div>
        <div class="text-[13px] font-medium">({googleData?.user_ratings_total})</div>
      </div>
    </div>

    {
      Book_link && (
        <div class="flex items-center mt-5">
          <a
            href={`/${slug}/`}
            class="bg-downy flex items-center px-5 py-2 roboto text-xs lg:text-sm font-medium cursor-pointer rounded-full"
          >
            Discover
            <div class="h-3.5 ml-2.5">
              <Icon class="w-full h-full" src={PlaybtnIcon} />
            </div>
          </a>
        </div>
      )
    }
  </div>
</div>
