---
import Brand from "/images/nusa-ceningan-io-logo.svg";
import CameraIcon from "/images/camera.svg";

import Icon from "./Icon.astro";
import ClipPathSVG from "./ClipPathSVG.astro";
import { Picture } from "@astrojs/image/components";

const { genericData } = Astro.props as Props;

const {
  Footer_menu: menu,
  Instagram_link,
  Footer_copyright: copyright,
  Footer_image: {
    data: { attributes: background },
  },
  Footer_image_sm: {
    data: { attributes: backgroundSm },
  },
} = genericData;
---

<style lang="scss">
  .footer {
    clip-path: url(#footer-bg-curve-sm);

    @media (min-width: 640px) {
      clip-path: url(#footer-bg-curve);
    }
  }

  .footerLinkContainer a {
    &:before {
      @apply z-[-1] absolute w-full bottom-0 left-0 content-['']
				rounded-[5px] scale-x-0 bg-saltpan;

      animation: 1.4s forwards no-hover-v linear;
      animation-fill-mode: forwards;
    }

    &:hover:before,
    &:focus:before {
      animation: 0.5s forwards hover-v linear;
      animation-fill-mode: forwards;
    }
  }

  @keyframes hover-v {
    0% {
      transform: scaleX(0);
      height: 3px;
    }

    45% {
      transform: scaleX(1.05);
      height: 3px;
    }

    55% {
      height: 3px;
    }

    100% {
      transform: scaleX(1.05);
      height: 100%;
    }
  }

  @keyframes no-hover-v {
    0% {
      transform: scaleX(1.05);
      height: 100%;
    }

    45% {
      height: 3px;
    }

    55% {
      transform: scaleX(1.05);
      height: 3px;
      opacity: 1;
    }

    100% {
      transform: scaleX(0);
      height: 3px;
      opacity: 0.02;
    }
  }
</style>

<ClipPathSVG
  id="footer-bg-curve"
  path="M0,0.202 C0.482,0.163,0.813,-0.286,1,0.297 V1 H0"
/>
<ClipPathSVG
  id="footer-bg-curve-sm"
  path="M1,0.198 V1 H0 V0.014 C0.089,0.006,0.174,0.001,0.255,0 h0.077 C0.582,0.004,0.795,0.053,1,0.198"
/>
<footer class="relative block w-full mt-auto">
  <div
    class="relative overflow-hidden bg-lightGreen bg-no-repeat bg-cover footer"
    role="contentinfo"
  >
    <div class="absolute w-screen h-full z-10">
      <Picture
        class="hidden sm:block w-full h-full object-cover"
        class="w-full h-full object-cover"
        src={background?.url}
        widths={[768, 1440, 2050]}
        widths={[425, 1440, 2050]}
        aspectRatio={background?.width + `:` + background?.height}
        sizes="(max-width: 768px) 100vw, (max-width: 1440px) 1440px, 2050px"
        sizes="(max-width: 425px) 100vw, (max-width: 1440px) 1440px, 2050px"
        format="webp"
        alt={background?.alternativeText}
      />

      <Picture
        class="block sm:hidden w-full h-full object-cover"
        src={backgroundSm?.url}
        widths={[425, 639]}
        aspectRatio={backgroundSm?.width + `:` + backgroundSm?.height}
        sizes="(max-width: 425px) 100vw, (max-width: 639px) 639px"
        format="webp"
        alt={backgroundSm?.alternativeText}
      />
    </div>
    <div class="relative z-20 pt-16 md:pt-36">
      <div
        class="wrapper flex flex-wrap justify-center md:justify-start items-center my-auto px-8 xl:px-3 sm:py-2"
      >
        <div class="w-full md:w-auto my-auto mb-16 md:mb-0">
          <a href="/" aria-label="home">
            <div class="mx-auto my-auto w-[121px]">
              <Icon src={Brand} class="w-full h-full" />
            </div>
          </a>
        </div>
        <div
          class:list={[
            "md:ml-16 my-auto flex flex-wrap gap-4 md:gap-8 items-center",
            "my-auto roboto-serif text-[clamp(.9rem,3vw+.02rem,1.25rem)]",
            "font-semibold xs:font-medium text-greenpea footerLinkContainer",
          ]}
        >
          {
            menu.map(({ Title, Title_url }) => (
              <a
                href={Title_url === "/" ? "/" : `/${Title_url}/`}
                class="z-10 relative inline-block py-[3px] px-0.5"
              >
                {Title}
              </a>
            ))
          }
        </div>
      </div>

      <div
        class="flex justify-center items-center mt-11 py-[5px] bg-viridian/25"
      >
        <a href={Instagram_link} aria-label="Instagram">
          <div class="w-full h-[clamp(33px,4vw+1.5px,50px)]">
            <Icon class="w-full h-full" src={CameraIcon} />
          </div>
        </a>
      </div>
      <div class="wrapper px-8 xl:px-3 py-3">
        <p
          class="roboto text-[clamp(.75rem,1.5vw+.1rem,1rem)] font-bold text-greenpea text-center"
        >
          © {`${new Date().getFullYear()} ` + copyright}
        </p>
      </div>
    </div>
  </div>
</footer>
