---
import HeaderTxtBg from "/images/txtBg.svg";
import locationIcon from "/images/location.svg";

import Icon from "./Icon.astro";
import ClipPathSVG from "./ClipPathSVG.astro";
import Markdown from "@astrojs/markdown-component";
import { Image, Picture } from "@astrojs/image/components";

const { page, intro_text, link, btnText } = Astro.props;

const {
	Title: title,
	Title_tag: title_tag,
	Intro_blob: intro_blob,
	Intro_blob_place_text: blob_place_text,
} = page;

const blob = intro_blob?.data?.attributes;
---

<style lang="scss">
  .headerContainer {
    height: 100%;

    @media (min-width: 640px) {
      height: clamp(500px, 35vw + 130px, 650px);
    }
  }

  .headerContentContainer {
    @apply mt-[35vw] sm:mt-0 py-[46px] px-[26px] lg:p-0;

    @media (min-width: 640px) {
      width: clamp(350px, 36vw + 250px, 940px);
    }

    @media (min-width: 1024px) {
      width: clamp(350px, 30vw + 200px, 940px);
    }

    @media (min-width: 1280px) {
      width: clamp(350px, 36vw + 250px, 940px);
    }
  }

  .heroCurve {
    aspect-ratio: 3.87 / 4.62;
    width: 100vw;
    max-height: 462px;

    @media (min-width: 640px) {
      aspect-ratio: 6.23 / 6.81;
      width: clamp(500px, 35vw + 30px, 650px);
      max-height: 100%;
    }
  }
</style>

<div class="overflow-hidden pb-10">
  <div
    class:list={[
      "wrapper1 z-30 mx-auto grid justify-center",
      blob ? "sm:grid-cols-2 headerContainer" : "py-[8vw]",
    ]}
  >
    <div
      class="z-30 order-2 sm:order-1 px-8 xl:px-3 mx-auto my-auto col-span-2 sm:col-span-1"
    >
      <div
        class={blob
          ? "headerContentContainer bg-white/80 lg:bg-transparent rounded-[35px] lg:rounded-none"
          : "max-w-[1024px] text-center"}
      >
        {
          title_tag && (
            <div
              class:list={[
                "roboto-serif text-[clamp(1.475rem,3vw+.15rem,2.225rem)]",
                "font-extrabold leading-[104%] text-primary",
              ]}
            >
              {title_tag}
            </div>
          )
        }

        <div
          class:list={[
            "flex",
            blob
              ? "w-full xl:w-9/12 2xl:w-8/12 lg:pr-5"
              : "justify-center",
          ]}
        >
          <div class="relative overflow-hidden">
            <Icon
              class="absolute inset-x-0 top-3 sm:top-0 z-10 h-auto sm:h-full w-full"
              src={HeaderTxtBg}
            />
            <h1
              class:list={[
                "relative z-[15] py-2.5 norican text-[clamp(2.25rem,6vw+.15rem,3.5rem)]",
                "leading-[115%] min-w-[clamp(100px,55vw+5px,290px)]",
              ]}
            >
              {title}
            </h1>
          </div>
        </div>
        <div
          class="text-xl leading-8 lg:pr-5 mb-4 prose sm:line-clamp-[7] xl:line-clamp-[9]"
        >
          <Markdown>{intro_text}</Markdown>
        </div>
        {
          link && (
            <a
              href={link}
              class="inline-flex px-6 py-2 text-base font-medium text-white rounded-[100px] bg-primary shadow1"
            >
              {btnText}
            </a>
          )
        }
      </div>
    </div>

    {
      blob && (
        <div class="order-1 sm:order-2 col-span-2 sm:col-span-1">
          <ClipPathSVG
            id="heroImgFrame"
            path="M1,0 V0.759 c-0.096,0.111,-0.209,0.219,-0.362,0.238 c-0.167,0.021,-0.32,-0.083,-0.438,-0.193 S-0.012,0.555,0.002,0.403 C0.015,0.26,0.14,0.151,0.268,0.068 C0.33,0.027,0.4,0.009,0.474,0"
          />
          <ClipPathSVG
            id="heroImgFrame-sm"
            path="M1,0 V0.725 c-0.113,0.127,-0.248,0.25,-0.429,0.272 c-0.016,0.002,-0.031,0.003,-0.047,0.003 h-0.009 l-0.015,-0.001 c-0.17,-0.008,-0.326,-0.112,-0.449,-0.223 Q0.025,0.753,0,0.728 V0"
          />

          {/*Image Desktop View*/}
          <div class="hidden sm:block absolute right-0 top-0">
            <div class="relative">
              <div class="bg-primary/50" style="clip-path: url(#heroImgFrame)">
                <div class="heroCurve">
                  <Image
                    class="w-full h-full"
                    src={blob?.url}
                    width={650}
                    aspectRatio={blob.width + `:` + blob.height}
                    format="webp"
                    alt={blob?.alternativeText}
                    loading="eager"
                  />
                </div>
              </div>

              {/* Desktop View Image Location Name*/}

              {blob_place_text && (
                <div class="hidden lg:block absolute bottom-[15%]">
                  <div class="flex max-w-[350px] h-[80px] rounded-xl shadow1">
                    <div class="bg-white2 flex items-center justify-center min-w-[220px] p-5 rounded-l-xl">
                      <div class="text-lg line-clamp-2">
                        {blob_place_text}
                      </div>
                    </div>

                    <div class="bg-primary flex items-center justify-center w-[80px] rounded-r-xl">
                      <div class="w-auto h-[22px]">
                        <Icon class="w-full h-full" src={locationIcon} />
                      </div>
                    </div>
                  </div>
                </div>
              )}
            </div>
          </div>

          {/*Image Mobile View*/}

          <div
            class="block sm:hidden absolute right-0 top-0"
            style="clip-path: url(#heroImgFrame-sm)"
          >
            <div class="relative bg-primary/50">
              <div class="heroCurve">
                <Picture
                  class="w-full h-full object-cover"
                  src={blob?.url}
                  widths={[425, 640]}
                  aspectRatio={blob.width + `:` + blob.height}
                  sizes="(max-width: 425px) 100vw,640px"
                  format="webp"
                  alt={blob?.alternativeText}
                  loading="eager"
                />
              </div>
            </div>
          </div>
        </div>
      )
    }
  </div>
</div>
