---
import HeaderTxtBg from "/images/txtBg.svg";
import PlaybtnIcon from "/images/playbtn.svg";
import CameraBlackIcon from "/images/camera-black.svg";

import Icon from "./Icon.astro";

import { Picture } from "@astrojs/image/components";

const { page, genericData } = Astro.props;

const {
    Instagram_title: title,
    Instagram_button_text: button_text,
    Instagram_images,
  } = page,
  { Instagram_accountname: accountname, Instagram_link } = genericData;

function sortFunction(a, b) {
  const dateA = new Date(a.date).getTime();
  const dateB = new Date(b.date).getTime();
  return dateA > dateB ? 1 : -1;
}

function getId(string) {
  const id = string
    .toLowerCase()
    .replace(/[^\w\s]/gi, "")
    .split(" ")
    .slice(0, 2)
    .join("-");
  return id;
}

const images = Instagram_images.data
  .map(({ attributes }) => attributes)
  .sort(sortFunction);
---

<section
  id={getId(title)}
  class="wrapper flex flex-wrap justify-center overflow-x-hidden px-8 xl:px-3 py-10"
>
  <div class="w-full text-center">
    <div class="flex justify-center">
      <div class="relative overflow-hidden">
        <Icon
          class="absolute inset-x-0 top-3 sm:top-0 z-10 h-auto sm:h-full w-full"
          src={HeaderTxtBg}
        />
        <h2
          class:list={[
            "relative z-[15] py-2.5 norican text-[clamp(2.125rem,6vw+.15rem,3.4rem)]",
            "leading-[115%] min-w-[clamp(100px,55vw+5px,290px)]",
          ]}
        >
          {title}
        </h2>
      </div>
    </div>

    <a
      class="mt-4 inline-flex justify-center items-center"
      href={Instagram_link}
    >
      <div class="mr-2 h-[clamp(33px,4vw+1.5px,41px)]">
        <Icon class="w-full h-full" src={CameraBlackIcon} />
      </div>
      <div class="roboto text-[clamp(1.125rem,2vw+.3rem,1.5rem)] font-bold">
        {accountname}
      </div>
    </a>
  </div>

  {
    images?.length > 1 && (
      <div
        class:list={[
          "grid grid-cols-[repeat(auto-fit,minmax(0,280px))]",
          "lg:grid-cols-3 gap-[35px] justify-center my-16",
        ]}
      >
        {images.map(
          ({
            Image_link,
            Image: {
              data: { attributes: blob },
            },
          }) => {
            return (
              <a href={Image_link}>
                <div class="overflow-hidden aspect-[3.78/4.31] rounded-3xl">
                  <Picture
                    class="w-full h-full object-cover"
                    src={blob?.url}
                    widths={[335, 470]}
                    aspectRatio={blob.width + `:` + blob.height}
                    sizes="(max-width: 1023px) 100vw, 470px"
                    format="webp"
                    alt={blob?.alternativeText}
                  />
                </div>
              </a>
            );
          }
        )}
      </div>
    )
  }

  <div class="w-full flex justify-center">
    <a
      href={Instagram_link}
      class:list={[
        "inline-flex items-center justify-center py-1.5 px-5",
        "mt-3 text-lg font-medium bg-downy rounded-full",
      ]}
    >
      {button_text}
      <div class="h-3.5 ml-2.5">
        <Icon class="w-full h-full" src={PlaybtnIcon} />
      </div>
    </a>
  </div>
</section>
