---
import { Schema } from "astro-seo-schema";

const { page, posts } = Astro.props,
  domain = Astro.site.origin;

const {
  Title: title,
  Intro_text,
  Intro_blob,
  Geo_latitude,
  Geo_longitude,
} = page;

const intro_blob = Intro_blob?.data?.attributes.url;

function googleData(placeId) {
  const [googleData] = page?.googleMapsData?.filter(
    ({ place_id }) => place_id === placeId
  );
  return googleData;
}

function bestReview(placeId) {
  const bestReviewList = googleData(placeId)?.reviews.sort(function (a, b) {
    return b?.rating - a?.rating;
  });

  return bestReviewList?.pop();
}

function addressType(placeId, type) {
  const item = googleData(placeId)?.address_components.filter(
    (x) => x.types[0] === type
  );

  return item?.length > 0
    ? type === "country"
      ? item[0]?.long_name
      : item[0]?.short_name
    : "";
}

function address(placeId) {
  const country = addressType(placeId, "country"),
    postal_code = addressType(placeId, "postal_code"),
    region = addressType(placeId, "administrative_area_level_1"),
    locality = addressType(placeId, "administrative_area_level_2"),
    extended_address =
      (addressType(placeId, "administrative_area_level_4")?.length > 0
        ? addressType(placeId, "administrative_area_level_4") + `, `
        : "") + addressType(placeId, "administrative_area_level_3"),
    street_address =
      (addressType(placeId, "plus_code")?.length > 0
        ? addressType(placeId, "plus_code") + `, `
        : "") +
      (addressType(placeId, "route")?.length > 0
        ? addressType(placeId, "route") + `, `
        : "") +
      extended_address;

  return {
    country,
    postal_code,
    region,
    locality,
    extended_address,
    street_address,
  };
}
---

<Schema
  item={{
    "@context": "https://schema.org",
    "@type": ["TouristDestination", "TouristAttraction"],
    name: title,
    description: `${(await Astro.__renderMarkdown(Intro_text)).replace(
      /(<([^>]+)>)/gi,
      ""
    )}`,
    image: domain + intro_blob,
    geo: {
      "@type": "GeoCoordinates",
      latitude: Geo_latitude,
      longitude: Geo_longitude,
    },
    includesAttraction: [
      posts.map((post) => ({
        "@type": [
          post.Type?.Landform === true ? "Landform" : "",
          post.Type?.TouristAttraction === true ? "TouristAttraction" : "",
        ].filter(Boolean),
        name: post.Title,
        image:
          post.Block_blob?.data !== null
            ? [
                domain + post.Intro_blob?.data?.attributes.url,
                domain + post.Block_blob?.data?.attributes.url,
              ]
            : domain + post.Intro_blob?.data?.attributes.url,
        address: {
          "@type": "PostalAddress",
          streetAddress: address(post?.google_place_id)?.street_address,
          addressLocality: address(post?.google_place_id)?.locality,
          addressRegion: address(post?.google_place_id)?.region,
          postalCode: address(post?.google_place_id)?.postal_code,
          addressCountry: address(post?.google_place_id)?.country,
        },
        review:
          post.Type?.Restaurant === true &&
          post.Type?.Accommodation === true &&
          post.Type?.LocalBusiness === true
            ? {
                "@type": "Review",
                reviewRating: {
                  "@type": "Rating",
                  ratingValue: googleData(post?.google_place_id)?.rating,
                  bestRating: bestReview(post?.google_place_id)?.rating,
                },
                author: {
                  "@type": "Person",
                  name: bestReview(post?.google_place_id)?.author_name,
                },
              }
            : "",
        geo: {
          "@type": "GeoCoordinates",
          latitude: googleData(post?.google_place_id)?.geometry.location.lat,
          longitude: googleData(post?.google_place_id)?.geometry.location.lng,
        },
        url: `${Astro.site.origin}/${post.slug}`,
        telephone: googleData(post?.google_place_id)
          ?.international_phone_number,
        tourBookingPage: post?.Book_link,
        openingHoursSpecification: googleData(
          post?.google_place_id
        )?.opening_hours?.periods.map((item) => ({
          "@type": "OpeningHoursSpecification",
          dayOfWeek:
            item.open.day === 0
              ? "Monday"
              : item.open.day === 1
              ? "Tuesday"
              : item.open.day === 2
              ? "Wednesday"
              : item.open.day === 3
              ? "Thursday"
              : item.open.day === 4
              ? "Friday"
              : item.open.day === 5
              ? "Saturday"
              : "Sunday",
          opens:
            item?.open !== undefined
              ? `${item.open?.time.substring(0, 2)}:${item.open?.time.substring(
                  2,
                  4
                )}`
              : "",
          closes:
            item?.close !== undefined
              ? `${item.close?.time.substring(
                  0,
                  2
                )}:${item.close?.time.substring(2, 4)}`
              : "",
        })),
        publicAccess: post.Public_access !== null ? post.Public_access : "",
        isAccessibleForFree:
          post.Public_access !== null ? post.Free_accessible : "",
        petsAllowed:
          post.Type?.Landform === false && post.Type?.LocalBusiness === false
            ? post.Pets_allowed !== null
              ? post.Pets_allowed
              : ""
            : "",
        acceptsReservations:
          post.Type?.Landform === false && post.Type?.Accommodation === false
            ? post.Book_link !== null && post.Book_link?.length > 1
              ? true
              : ""
            : "",
      })),
    ],
  }}
/>
