---
import ClipPathSVG from "./ClipPathSVG.astro";
import { Image, Picture } from "@astrojs/image/components";
import Markdown from "@astrojs/markdown-component";

const { post, googleMapsData } = Astro.props;

const { Title: title, Intro_blob, google_place_id } = post;

const [googleData] = googleMapsData?.filter(
  ({ place_id }) => place_id === google_place_id
);

const bestReviewList = googleData?.reviews
  .filter(({ rating }) => rating === 5)
  .sort(function (a, b) {
    return b?.rating - a?.rating;
  });

const review = bestReviewList[(Math.random() * bestReviewList.length) | 0];

const blob = Intro_blob?.data?.attributes;
---

<style lang="scss">
  .home-review-bg {
    max-height: 750px;
    height: 100%;
    width: 100%;
    aspect-ratio: 3.75 / 2.73;
    clip-path: url(#review-curve-full);

    @media (min-width: 768px) {
      position: absolute;
      right: 0;
      width: 50vw;
      aspect-ratio: 7.67 / 6.64;
      clip-path: url(#review-curve);
    }
  }

  .home-review-card {
    max-width: 508px;
    width: 70%;
    height: 100%;
    padding: clamp(1.125rem, 3vw + 0.4rem, 2.5rem)
      clamp(1.25rem, 3.2vw + 0.4rem, 3.25rem);
    margin-top: -10%;
    border-radius: 15px;

    @media (min-width: 1440px) {
      margin-top: 0;
    }

    @media (min-width: 1280px) {
      width: 100% !important;
    }

    @media (min-width: 768px) {
      width: 80%;
    }

    @media (max-width: 275.98px) {
      width: 95%;
      margin-top: 0;
    }
  }

  .home-review-content {
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto 0;

    @media (min-width: 768px) {
      min-height: 40vw;
    }
  }

  .home-review-card2 {
    padding: clamp(22px, 3vw + 0.3rem, 34px);
    padding-right: clamp(44px, 4.5vw + 0.3rem, 68px);
  }

  .home-review-text {
    &:before {
      content: open-quote;
      font-size: 1.5rem;
    }

    &:after {
      content: close-quote;
      font-size: 1.5rem;
    }
  }
</style>

<ClipPathSVG
  id="review-curve-full"
  path="M0.978,0.297 C0.906,0.089,0.657,-0.006,0.423,0 C0.123,0,0.087,0.214,0.019,0.409 S0.076,0.605,0.248,0.733 C0.358,0.815,0.445,0.923,0.536,0.973 a0.307,0.422,0,0,0,0.04,0.017 a0.232,0.319,0,0,0,0.056,0.01 a0.226,0.31,0,0,0,0.039,-0.004 a0.267,0.366,0,0,0,0.05,-0.019 a0.317,0.436,0,0,0,0.034,-0.021 c0.114,-0.08,0.2,-0.233,0.232,-0.387 a0.36,0.495,0,0,0,0.009,-0.054 a0.322,0.442,0,0,0,0.005,-0.08 a0.27,0.371,0,0,0,-0.007,-0.077 A0.221,0.303,0,0,0,0.978,0.297"
/>

<ClipPathSVG
  id="review-curve"
  path="M0.994,0.515 a0.44,0.505,0,0,1,-0.011,0.054 C0.945,0.723,0.843,0.876,0.706,0.956 a0.399,0.457,0,0,1,-0.041,0.021 a0.324,0.371,0,0,1,-0.059,0.019 a0.27,0.31,0,0,1,-0.047,0.004 a0.28,0.321,0,0,1,-0.067,-0.01 a0.353,0.405,0,0,1,-0.047,-0.017 C0.335,0.923,0.231,0.815,0.098,0.733 C0.063,0.711,0.03,0.694,0,0.678 V0.093 C0.066,0.036,0.16,0,0.308,0 C0.588,-0.006,0.887,0.089,0.973,0.297 a0.265,0.303,0,0,1,0.019,0.061 a0.307,0.352,0,0,1,0.008,0.077 A0.386,0.442,0,0,1,0.994,0.515"
/>

<div id="reviews" class="overflow-x-hidden py-10 px-8 xl:px-3 mx-auto">
  <div class="wrapper flex flex-wrap mx-auto">
    <div
      class="relative flex items-center justify-center xl:justify-start w-full md:w-1/2"
    >
      <div class="home-review-bg">
        <Picture
          class="w-full h-full object-cover"
          src={blob?.url}
          widths={[370, 1080]}
          aspectRatio={blob.width + `:` + blob.height}
          sizes="(max-width: 639px) 100vw, 1080px"
          format="webp"
          alt={blob.alternativeText}
        />
      </div>

      <div class="absolute md:static flex items-center h-full">
        <div class="flex justify-center z-20">
          <div class="font-bold bg-white/75 home-review-card">
            <div class="text-[clamp(.7rem,1.2vw+.2rem,1.275rem)]">Reviews</div>
            <div
              class="capitalize text-[clamp(1.275rem,4vw+.01rem,3.38rem)] leading-[95%]"
            >
              What people say about {title}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full md:w-1/2 flex items-center my-auto home-review-content">
      <div class="block w-full ml-5 md:ml-9">
        <div class="flex flex-wrap gap-1 items-center pl-6 md:pl-9 mt-1">
          <div class="mr-auto text-xl lg:text-3xl text-yellow">
            &#9733;&#9733;&#9733;&#9733;&#9733;
          </div>
          <div class="text-sm lg:text-lg font-semibold text-martinique">
            Reviewed {review?.relative_time_description}
          </div>
        </div>
        <div
          class="home-review-card2 relative rounded-[10px] border-2 border-primary/70"
        >
          {
            review?.profile_photo_url && (
              <div class="absolute -top-5 lg:-top-7 -left-5 md:-left-[5%] rounded-full overflow-hidden">
                <div class="w-[clamp(43px,4.5vw+.3rem,68px)] h-[clamp(43px,4.5vw+.3rem,68px)]">
                  <Picture
                    class="w-full h-full object-cover"
                    src={review?.profile_photo_url}
                    widths={[45, 70]}
                    aspectRatio="1:1"
                    sizes="(max-width: 825px) 100vw, 70px"
                    format="webp"
                    alt="avatar"
                  />
                </div>
              </div>
            )
          }

          <div
            class:list={[
              "home-review-text inline text-[clamp(.75rem,1.2vw+.1rem,1.125rem)]",
              "font-medium leading-[150%] text-comet line-clamp-[12] lg:line-clamp-[15]",
            ]}
          >
            {review?.text}
          </div>
          <div
            class="roboto text-[clamp(.875rem,1.2vw+.1rem,1.125rem)] font-[550] text-comet pt-3.5"
          >
            - {review?.author_name}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
