---
import PlaybtnIcon from "/images/playbtn.svg";

import Icon from "./Icon.astro";

import { Picture } from "@astrojs/image/components";

const { page } = Astro.props;

const {
  Accomodation_title: title,
  Accomodation_button_text: button_text,
  Accomodation_button_link: button_link,
  Accommodations: accommodations,
} = page;

function sortFunction(a, b) {
  const dateA = new Date(a.date).getTime();
  const dateB = new Date(b.date).getTime();
  return dateA > dateB ? 1 : -1;
}

function getId(string) {
  const id = string
    .toLowerCase()
    .replace(/[^\w\s]/gi, "")
    .split(" ")
    .slice(0, 2)
    .join("-");
  return id;
}
const posts = accommodations.data
  .slice(0, 6)
  .map(({ attributes }) => attributes)
  .sort(sortFunction);
---

<style lang="scss">
  .AccommoCardTxt {
    font-size: clamp(1.563rem, 2vw + 0.15rem, 2.125rem);
    font-weight: 700;
    line-height: 105%;
    top: clamp(62px, 6vw + 5px, 86px);

    @media (max-width: 639.98px) {
      font-weight: 600;
    }

    @media (max-width: 349.98px) {
      font-size: 1.4rem;
    }
  }
</style>

{
  posts.length > 0 && (
    <section
      id={getId(title)}
      class="wrapper overflow-x-hidden py-10 mx-auto"
    >
      <h2 class="px-8 mx-auto text-[clamp(2.375rem,6vw+.15rem,3.725rem)] text-center">
        {title}
      </h2>
      <div
        role="list"
        class:list={[
          "grid grid-cols-[repeat(auto-fit,minmax(0,270px))]",
          "lg:grid-cols-3 gap-[35px] justify-center px-8 xl:px-3 mt-16",
        ]}
      >
        {posts.map(
          ({
            Title,
            Intro_blob: {
              data: { attributes: blob },
            },
            SEO: { URL_slug },
          }) => {
            return (
              <div
                class="flex justify-center items-center w-full"
                role="listitem"
                aria-label={Title}
              >
                <div class="relative overflow-hidden aspect-[3.8/4.8] rounded-3xl">
                  <a href={`/${button_link}/${URL_slug}/`}>
                    <div class="w-full h-full">
                      <Picture
                        class="w-full h-full object-cover z-10"
                        src={blob?.url}
                        widths={[280, 470]}
                        aspectRatio={blob.width + `:` + blob.height}
                        sizes="(max-width: 1023px) 100vw, 470px"
                        format="webp"
                        alt={blob.alternativeText}
                      />
                    </div>

                    <div
                      class:list={[
                        "px-2 py-5 absolute right-0 z-20 w-[clamp(182px,20vw+10px,277px)]",
                        "roboto-serif text-center AccommoCardTxt rounded-l-[15px] bg-white/75",
                      ]}
                    >
                      {Title}
                    </div>
                  </a>
                </div>
              </div>
            );
          }
        )}
      </div>
      <div class="flex justify-center pt-1">
        <a
          href={`/${button_link}/`}
          class:list={[
            "inline-flex items-center justify-center py-1.5 px-3.5",
            "mt-9 lg:mt-14 text-lg font-medium bg-downy rounded-full",
          ]}
        >
          {button_text}
          <div class="h-3.5 ml-2.5">
            <Icon class="w-full h-full" src={PlaybtnIcon} />
          </div>
        </a>
      </div>
    </section>
  )
}
