---
import PlaybtnIcon from "/images/playbtn.svg";
import PlaybtnWIcon from "/images/playbtnW.svg";
import TodoTxtBg from "/images/todoTxtBg.svg";

import Icon from "./Icon.astro";

import { Image } from "@astrojs/image/components";
import Markdown from "@astrojs/markdown-component";

const { page } = Astro.props;

const {
  Todo_title: title,
  Todo_intro_txt: intro_txt,
  Todo_intro_button_text: button_text,
  Todo_intro_button_link: button_link,
  Todos: todos,
  Todo_button_text_1,
  Todo_button_text_2,
  Todo_button_text_3,
} = page;

function sortFunction(a, b) {
  const dateA = new Date(a.date).getTime();
  const dateB = new Date(b.date).getTime();
  return dateA > dateB ? 1 : -1;
}

function getId(string) {
  const id = string
    .toLowerCase()
    .replace(/[^\w\s]/gi, "")
    .split(" ")
    .slice(0, 2)
    .join("-");
  return id;
}

const posts = todos.data
  .slice(0, 3)
  .map(({ attributes }) => attributes)
  .sort(sortFunction);
---

<style lang="scss">
  .homeTodoCol1 {
    order: 2;
    margin-top: 108px;

    @media (min-width: 1152px) {
      order: 1;
      padding: 0 24px 0 8px;
      margin-top: 30px;
    }
  }

  .homeTodoCol2 {
    order: 1;
    width: 100%;
    height: 578px;

    @media (min-width: 1152px) {
      order: 2;
      width: 42vw;
      max-width: 599px;
      padding-left: 8px;
      height: auto;
    }
  }

  .homeTodoTxtBg {
    width: 630px;
    transform: rotate(-15deg);
    margin-right: -13%;

    @media (min-width: 640px) {
      width: 100%;
      transform: rotate(0);
      margin: 0;
    }

    @media (min-width: 768px) {
      width: 612px;
    }

    @media (min-width: 1152px) {
      min-width: 612px;
      left: 8px;
    }
  }
</style>

{
  posts.length > 2 && (
    <section id={getId(title)} class="bg-lightGreen overflow-x-hidden">
      <div class="wrapper w-full mx-auto flex flex-wrap justify-center px-8 lg:px-0 py-[75px]">
        <div class="relative sm:px-4 sm:min-w-[655px] homeTodoCol1">
          {posts.map(
            (
              {
                Title,
                Description,
                Intro_blob: {
                  data: { attributes: blob },
                },
                SEO: { URL_slug },
              },
              idx
            ) => {
              return (
                <div
                  class:list={[
                    idx === 1
                      ? "sm:absolute order-2 sm:top-52 mb-11 sm:mb-6 sm:mr-6 sm:ml-20 xl:mb-0 sm:my-auto"
                      : idx === 0
                      ? "order-1 mb-11 sm:ml-6 sm:mb-6"
                      : "order-3 mb-16 sm:ml-6 sm:mb-6",
                  ]}
                >
                  <div
                    class:list={[
                      "hidden sm:block absolute z-10 roboto text-[13rem] font-medium text-viridian/40",
                      idx === 0
                        ? "-top-[118px] right-[232px]"
                        : idx === 1
                        ? "inset-0 -left-[86px]"
                        : "right-[231px] -bottom-2",
                    ]}
                  >
                    {idx + 1}
                  </div>
                  <div
                    class:list={[
                      "relative overflow-hidden z-20 p-3.5 mx-auto max-w-[258px]",
                      "sm:min-h-[410px] bg-white rounded-[23px] shadow1",
                      idx === 1 ? "sm:mr-auto sm:ml-0" : "sm:mr-0 sm:ml-auto",
                    ]}
                  >
                    <div class="overflow-hidden max-h-[167px] aspect-[2.3/1.67] rounded-lg">
                      <a href={`/${button_link}/${URL_slug}/`}>
                        <Image
                          class="w-full h-full object-cover"
                          src={blob?.url}
                          width={240}
                          aspectRatio={blob.width + `:` + blob.height}
                          alt={blob.alternativeText}
                          format="webp"
                        />
                      </a>
                    </div>
                    <div class="pl-2.5">
                      <div class="py-3 text-[19px] font-extrabold leading-[106%] text-primary">
                        <a href={`/${button_link}/${URL_slug}/`}>{Title}</a>
                      </div>
                      <div class="overflow-hidden prose mb-4 text-[15px] leading-[130%] line-clamp-6">
                        <Markdown>{Description.split("\n")[0]}</Markdown>
                      </div>
                    </div>
                    <div class="flex justify-center">
                      <a
                        href={`/${button_link}/${URL_slug}/`}
                        class:list={[
                          "inline-flex items-center justify-center py-1 px-3 font-medium",
                          "text-white sm:min-w-[166px] sm:min-h-[35px] bg-primary rounded-[100px]",
                        ]}
                      >
                        {idx === 0
                          ? Todo_button_text_1
                          : idx === 1
                          ? Todo_button_text_2
                          : Todo_button_text_3}
                        <div class="h-3.5 ml-2.5">
                          <Icon class="w-full h-full" src={PlaybtnWIcon} />
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              );
            }
          )}
        </div>

        <div class="relative flex items-center justify-center homeTodoCol2">
          <div class="absolute z-10 homeTodoTxtBg">
            <Icon class="w-full h-full" src={TodoTxtBg} />
          </div>
          <div class="w-full -mt-24 sm:-mt-32 md:-mt-40 xl:-mt-36 relative z-20">
            <div
              class:list={[
                "w-full px-0 sm:pl-12 md:pl-14 lg:pl-14 xl:pl-16",
                "sm:pr-5 lg:pr-2 xl:pr-0 mx-auto md:max-w-[612px]",
              ]}
            >
              <h2 class="norican text-[clamp(3rem,6vw+.15rem,3.5rem)]">
                {title}
              </h2>
              <div class="text-xl leading-8 lg:my-7 xl:my-9 mb-4 prose line-clamp-[7]">
                <Markdown>{intro_txt}</Markdown>
              </div>
              <a
                href={`/${button_link}/`}
                class:list={[
                  "inline-flex items-center justify-center px-5 mt-9 lg:mt-8 min-h-[41px]",
                  "roboto text-[15px] font-medium tracking-[0.1px] text-black2 rounded-full bg-downy",
                ]}
              >
                {button_text}

                <div class="h-3.5 ml-2.5">
                  <Icon class="w-full h-full" src={PlaybtnIcon} />
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
