---
import PlaybtnIcon from "/images/playbtn.svg";
import CompanySecBg from "/images/homeCompanySecBg.svg";

import Icon from "./Icon.astro";

import { Picture } from "@astrojs/image/components";
import Markdown from "@astrojs/markdown-component";

const { page } = Astro.props;

const {
  Boat_title: title,
  Boat_intro_text: intro_text,
  Boat_intro_button_text: button_text,
  Boat_intro_button_link: button_link,
  Boats: boats,
} = page;

function sortFunction(a, b) {
  const dateA = new Date(a.date).getTime();
  const dateB = new Date(b.date).getTime();
  return dateA > dateB ? 1 : -1;
}

function getId(string) {
  const id = string
    .toLowerCase()
    .replace(/[^\w\s]/gi, "")
    .split(" ")
    .slice(0, 2)
    .join("-");
  return id;
}

const posts = boats.data
  .map(({ attributes }) => attributes)
  .sort(sortFunction);
---

<style lang="scss">
  .companyImgContainer {
    width: clamp(145px, 18vw + 10px, 210px);
    height: clamp(50px, 6vw + 4px, 71px);

    @media (max-width: 1023.98px) {
      width: clamp(100px, 15vw + 8px, 148px);
      height: clamp(34px, 5vw + 3.5px, 55px);
    }

    @media (max-width: 767.98px) {
      width: clamp(145px, 18vw + 10px, 210px);
      height: clamp(50px, 6vw + 4px, 71px);
    }

    @media (max-width: 475.98px) {
      width: clamp(80px, 24vw + 8px, 148px);
      height: clamp(25px, 8vw + 3px, 55px);
    }
  }
</style>

{
  posts.length > 1 && (
    <section id={getId(title)} class="bg-lightGreen overflow-hidden">
      <div class="wrapper flex flex-wrap justify-center overflow-x-hidden py-10 companySec">
        <div
          class:list={[
            "order-2 md:order-1 w-full md:w-1/2 lg:w-5/12",
            "px-8 xl:px-3 flex items-center my-auto my-16",
          ]}
        >
          <div class="companyContentContainer">
            <h2 class="text-[clamp(2.4rem,6vw+.15rem,3.8rem)] leading-[100%] font-semibold">
              {title}
            </h2>
            <div class="py-10 md:py-12 lg:py-14 xl:py-16 text-xl font-medium leading-8 prose">
              <Markdown>{intro_text}</Markdown>
            </div>
            <a
              href={`/${button_link}/`}
              class="inline-flex items-center justify-center py-1.5 px-5 mt-3 text-lg font-medium bg-downy rounded-full"
            >
              {button_text}
              <div class="h-3.5 ml-2.5">
                <Icon class="w-full h-full" src={PlaybtnIcon} />
              </div>
            </a>
          </div>
        </div>
        <div
          class:list={[
            "relative order-1 md:order-2 flex justify-center items-center",
            "w-full sm:w-2/3 md:w-1/2 lg:w-7/12 px-8 xl:px-3 xl:pl-14 mb-16 md:my-16",
          ]}
        >
          <Icon class="w-full h-full" src={CompanySecBg} />
          <div class="flex flex-wrap justify-center items-center absolute inset-0 z-20">
            <div class="-mt-10 sm:-mt-20">
              {posts.slice(0, 3).map((data, idx) => (
                <div
                  class:list={[
                    "gap-7 md:gap-x-6 lg:gap-x-12 xl:gap-x-16",
                    idx === 1
                      ? "flex justify-end ml-6 lg:ml-20"
                      : "flex justify-start",
                  ]}
                >
                  {posts
                    .splice(0, 2)
                    .map(({ Title, Logo:{ data: {attributes: logo}}}) => {
                      return (
                        <a
                          href={`/${button_link}/#${Title.replaceAll(" ", "-").toLowerCase()}`}
                          aria-label={Title}
                        >
                          <div
                            class:list={[
                              "overflow-hidden inline-flex items-center justify-center p-2 sm:p-3 md:px-",
                              "mt-7 sm:mt-10 lg:mt-14 xl:mt-16 bg-white rounded-full companyImgContainer",
                            ]}
                          >
                            {logo.ext === ".svg" ? (
                              <Icon
                                class="w-full h-full object-contain"
                                src={logo.url}
                              />
                            ) : (
                              <div class="h-full w-full">
                                <Picture
                                  class="w-full h-full object-contain"
                                  src={logo?.url}
                                  widths={[94, 121, 186]}
                                  aspectRatio={logo.width + `:` + logo.height}
                                  sizes="(max-width: 425px) 100vw, (max-width: 1023px) 121px, 186px"
                                  format="webp"
                                  alt={logo?.alternativeText}
                                />
                              </div>
                            )}
                          </div>
                        </a>
                      );
                    })}
                </div>
              ))}
            </div>
          </div>
        </div>
      </div>
    </section>
  )
}
