---
import { getImage } from "@astrojs/image";

export interface Props {
	meta: any;
	metaImage?: string;
	slugURL?: string | URL;
	canonicalURL?: string | URL;
}

const { meta, slugURL, canonicalURL, metaImage } = Astro.props as Props;

const {
  noindex,
  nofollow,
  html_title: title,
  metaDescription: description,
} = meta;

const domain = Astro.site.origin,
	{ ASSETS_URL: url } = import.meta.env,
	slugHref = `${domain + (slugURL === "/" ? "" : ("/" + slugURL + `/`))}`,
	canonicalHref = `${domain + (canonicalURL === "/" ? "" : ("/" + canonicalURL + `/`))}`,
	ogImage = await getImage({
		src: (url + metaImage.url), 
		width: 1200, 
		aspectRatio: (metaImage.width + `:`+ metaImage.height), 
		format: "jpg"
	}),
	twitterImage = await getImage({
		src: (url + metaImage.url),
		width: 800,
		aspectRatio: (metaImage.width + `:`+ metaImage.height),
		format: "jpg"
	});
---
<meta charset="UTF-8" />
<title>{title}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="" />
<meta name="description" content={description} />
<meta name="author" content="Nusa Ceningan" />
<meta
  name="robots"
  content={[noindex && "noindex", nofollow && "nofollow"]
    .filter(Boolean)
    .join(", ") || "all"}
/>
{/* Sitemap */}
<link
  rel="sitemap"
  type="application/xml"
  title="Sitemap"
  href="/sitemap.xml"
/>
{/* Favicon */}
<link rel="icon" href="/logo.svg" />
{/* SEO */}
<link rel="canonical" href={canonicalHref} hreflang="en" />
{/* OpenGraph */}
<meta property="og:locale" content="en" />
<meta property="og:type" content="website" />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:url" content={canonicalHref} />
<meta property="og:site_name" content="nusaceningan.io" />
<meta property="og:image" content={domain + ogImage.src} />
{ /* Twitter */ }
<meta
  name="twitter:card"
  content={twitterImage ? "summary_large_image" : "summary"}
/>
<meta property="twitter:domain" content="dilmahtea.me" />
<meta property="twitter:url" content={slugHref} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={domain + twitterImage.src} />

<link
  rel="preload"
  href="/fonts/Norican-Regular.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/roboto-flex-v8-variable.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/fonts/AdobeVFPrototype.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
