---
import Brand from "/images/nusa-ceningan-io-logo.svg";
import CameraIcon from "/images/camera.svg";

import Icon from "./Icon.astro";
import Search from "./Search.astro";

const domain = Astro.site.origin;

const { genericData, slugURL: url } = Astro.props,
  { Nav_menu: menu, Instagram_link } = genericData;
---

<style lang="scss">
  .navbar {
    @media (max-width: 639.98px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    }

    @media (max-width: 767.98px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    }
  }
  .navbar-content {
    @apply gap-4 lg:gap-8;

    @media (max-width: 375.98px) {
      @apply gap-[5px];
    }
  }

  .navMenu {
    @apply gap-4 lg:gap-8;

    @media (max-width: 479.98px) {
      @apply gap-0 m-0;
    }
  }

  .navMenuItem {
    @apply inline-flex flex-wrap md:flex-nowrap gap-4 lg:gap-8 justify-center w-auto;

    @media (max-width: 479.98px) {
      @apply inline-block gap-0 m-0 w-[120px];
    }
  }

  .navItem {
    @apply flex items-center justify-center p-[5px] 
      w-[120px] h-[48px] sm:h-auto sm:font-semibold border-b-2 border-white/25;

    @media (min-width: 480px) {
      @apply p-0 w-auto border-0;
    }

    @media (min-width: 768px) {
      text-shadow: 0.05rem 0.01rem 0.1rem #fffbfe;
    }
  }

  @media (min-width: 479.98px) {
    .navAnimation {
      &:before,
      &:after {
        @apply absolute inset-x-0 bottom-0 h-0.5 content-[''] bg-primary;
      }

      &:before {
        @apply opacity-0;

        transform: translateY(-12px);
        transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275),
          opacity 0s;
      }

      &:after {
        @apply opacity-0;

        transform: translateY(4px);
        transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
          opacity 0.2s;
      }

      &:hover:before,
      &:focus:before,
      &:hover:after,
      &:focus:after {
        @apply opacity-100;

        transform: translateY(0);
      }

      &:hover:before,
      &:focus:before {
        transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
          opacity 0.2s;
      }

      &:hover:after,
      &:focus:after {
        transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
          opacity 0s 0.2s;
      }
    }

    .nav-active {
      @apply border-b-2 border-primary;
    }
  }
</style>

<nav class="relative z-40 flex pt-3 navbar">
  <div
    class:list={[
      "wrapper inline-flex flex-wrap md:flex-nowrap justify-center my-auto",
      "px-5 sm:px-8 xl:px-3 sm:py-1 md:py-2 navbar-content",
    ]}
  >
    <div class="my-auto">
      <a href={domain} aria-label="home">
        <Icon
          class="w-full h-9 md:h-10 my-auto invert md:invert-0 brightness-0 md:brightness-100"
          src={Brand}
        />
      </a>
    </div>
    <div
      class:list={[
        "navMenu flex flex-wrap md:flex-nowrap items-center justify-center ml-auto my-auto roboto",
        "text-sm md:font-[550] tracking-[0.03em] text-white md:text-black no-underline",
      ]}
    >
      <div class="flex mr-auto my-auto navMenuItem">
        {
          menu.slice(0, 3).map(({ Title, Title_url }, idx) => (
            <div class={idx === 0 ? "hidden lg:block" : ""}>
              <a
                href={Title_url === "/" ? "/" : `/${Title_url}/`}
                class:list={[
                  "navItem relative inline-block whitespace-nowrap",
                  url === Title_url ? "nav-active" : "navAnimation",
                ]}
              >
                {Title}
              </a>
            </div>
          ))
        }
      </div>
      <div class="navMenuItem flex my-auto text-center sm:text-left">
        {
          menu.slice(3, 5).map(({ Title, Title_url }, idx) => (
            <div>
              <a
                href={Title_url === "/" ? "/" : `/${Title_url}/`}
                class:list={[
                  "navItem relative inline-block whitespace-nowrap",
                  url === Title_url ? "nav-active" : "navAnimation",
                ]}
              >
                {Title}
              </a>
            </div>
          ))
        }
      </div>
    </div>

    <div
      class:list={[
        "inline-flex gap-4 lg:gap-8 justify-center items-center",
        "my-auto w-full md:w-auto mt-1.5 sm:my-auto",
      ]}
    >
      <div class="relative grow">
        <Search />
      </div>

      <a href={Instagram_link} aria-label="Instagram" class="flex-none">
        <div class="h-[clamp(28px,4vw+1.4px,33px)]">
          <Icon class="w-full h-full" src={CameraIcon} />
        </div>
      </a>
    </div>
  </div>
</nav>
