---
import CMS from "../utils/CMS";

import Markdown from "@astrojs/markdown-component";
import { Image } from "@astrojs/image/components";

import Icon from "./Icon.astro";

const todosQuery = CMS.get("todos"),
  boatsQuery = CMS.get("boats"),
  homeBoatQuery = CMS.get("homeBoat"),
  basicPagesQuery = CMS.get("basicPages"),
  accommodationsQuery = CMS.get("accommodations");

const homeBoatUrl = homeBoatQuery.data.attributes?.SEO?.URL_slug;

function contentArray(arr, slug) {
  const array = arr.data.map(({ attributes }) => attributes),
    processedArray = array.forEach((el) =>
      el.SEO.URL_slug.substring(0, slug.length) !== slug
        ? (el.SEO.URL_slug = slug + el.SEO.URL_slug.toLowerCase())
        : el.SEO.URL_slug
    );

  return array;
}

function basicPagesArray(arr) {
  return arr.data
    .map(({ attributes }) => attributes)
    .filter(({ SEO: { URL_slug } }) => URL_slug !== "404");
}

function boatsArray(arr) {
  const array = arr.data.map(({ attributes }) => attributes),
    processedArray = array.forEach(
      (el) =>
        (el.SEO = {
          URL_slug: `${homeBoatUrl}/#${el.Title.replaceAll(
            " ",
            "-"
          ).toLowerCase()}`,
        })
    );

  return array;
}

const todos = contentArray(todosQuery, `todo/`),
  accommodations = contentArray(accommodationsQuery, `accommodation/`),
  basicPages = basicPagesArray(basicPagesQuery),
  boats = boatsArray(boatsQuery);

const searchData = todos
  .concat(accommodations, basicPages, boats)
  .sort((a, b) => a.Title.localeCompare(b.Title));
---

<style lang="scss">
  #search-data-container {
    @apply absolute right-0 top-1 w-full md:min-w-[650px];

    @media (max-width: 767.98px) {
      @apply left-0 min-w-[calc(100vw-64px)];
    }

    @media (max-width: 639.98px) {
      @apply min-w-[calc(100vw-40px)];
    }
  }
</style>

<div class="relative overflow-hidden rounded-full z-40">
  <input
    id="search-input"
    placeholder="Search"
    class:list={[
      "focus:ring focus:ring-primary focus:ring-opacity-20 focus:outline-none",
      "py-1 px-4 pr-20 w-full xl:min-w-[410px] rounded-full border-2 border-primary",
    ]}
  />

  <span class="absolute right-0 items-center h-full w-auto">
    <div class="flex gap-2 h-full w-auto items-center">
      <button id="search-input-clear" class="hidden text-xl mt-0.5">
        &#10006;
      </button>

      <div class="bg-primary h-full w-10">
        <span class="flex items-center justify-center h-full p-3">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.5 18.7">
            <circle
              cx="7"
              cy="7"
              r="6.2"
              style="fill:none;stroke:#f6faf8;stroke-width:1.5px"></circle>
            <path
              d="M11.2,12.4,17,18.2"
              style="fill:none;stroke:#f6faf8;stroke-width:1.5px"></path>
          </svg>
        </span>
      </div>
    </div>
  </span>
</div>

<div class="relative bottom-0">
  <div
    id="search-data-container"
    class:list={[
      "hidden grid sm:grid-cols-2 gap-x-2.5 gap-y-5",
      "p-5 rounded-xl bg-saltpan shadow1 overflow-hidden",
    ]}
  >
    {
      searchData.length > 0 &&
        searchData.map(async (post) => {
          const {
            Title,
            Intro_text,
            Description,
            Logo,
            Intro_blob,
            SEO: { URL_slug: url_slug },
          } = post;

          const intro_text = Intro_text
              ? Intro_text
              : Description
              ? Description
              : null,
            intro_blob = Logo ? Logo : Intro_blob ? Intro_blob : null;

          const { data: blob } = intro_blob;

          return (
            <div class="hidden search-data overflow-hidden">
              <a
                href={
                  url_slug.substring(0, homeBoatUrl.length) === homeBoatUrl
                    ? `/${url_slug}`
                    : `/${url_slug}/`
                }
              >
                <div class="flex w-auto gap-2.5 h-auto">
                  {blob && (
                    <div class="flex-none h-full rounded overflow-hidden">
                      <div class="w-[50px] h-[50px] bg-white2">
                        {blob.attributes.ext === ".svg" ? (
                          <Icon
                            class="w-full h-full object-contain"
                            src={blob.attributes.url}
                          />
                        ) : (
                          <Image
                            class:list={[
                              "w-full h-full",
                              post.Logo ? "object-contain" : "object-cover",
                            ]}
                            src={blob?.attributes.url}
                            width={50}
                            aspectRatio={
                              post.Logo
                                ? `${blob.attributes.width}:${blob.attributes.height}`
                                : "1:1"
                            }
                            format="webp"
                            alt={blob?.attributes.alternativeText}
                            loading="lazy"
                          />
                        )}
                      </div>
                    </div>
                  )}

                  <div class="grow overflow-hidden">
                    <h3 class="text-lg font-medium text-primary line-clamp-2 data-title">
                      {Title}
                    </h3>

                    {intro_text && (
                      <div class="text-sm line-clamp-1 w-auto">
                        {(
                          await Astro.__renderMarkdown(intro_text.split("\n"))
                        ).replace(/(<([^>]+)>)/gi, "")}
                      </div>
                    )}
                  </div>
                </div>
              </a>
            </div>
          );
        })
    }

    <div id="no-result" class="hidden text-lg font-bold text-red-400">
      No result found
    </div>
  </div>
</div>

<script defer>
  const q = document.querySelector.bind(document),
    dataContainer = q("#search-data-container"),
    noResult = q("#no-result"),
    input = q("#search-input"),
    inputClear = q("#search-input-clear");

  input?.addEventListener("input", () => {
    const searchData = Array.from(
      qAll("#search-data-container > .search-data")
    );
    const searchTerm = input.value.toLowerCase();

    const matches = searchData.filter((el) => {
      const title = el.querySelector(".data-title").textContent.toLowerCase();
      return title.includes(searchTerm);
    });

    matches.forEach((el, index) => {
      el.style.display =
        index < (window.innerWidth < 640 ? 4 : 10) ? "block" : "none";
    });

    const nonMatches = searchData.filter((el) => !matches.includes(el));
    nonMatches.forEach((el) => (el.style.display = "none"));

    dataContainer.style.display = searchTerm.length > 0 ? "grid" : "none";
    inputClear.style.display = searchTerm.length > 0 ? "flex" : "none";
    noResult.style.display =
      searchTerm.length > 0 && matches.length === 0 ? "block" : "none";
  });

  inputClear?.addEventListener("click", () => {
    dataContainer.style.display = "none";
    inputClear.style.display = "none";
    input.value = "";
  });

  function qAll(selector) {
    return document.querySelectorAll(selector);
  }
</script>
