---
// Style Imports
import "../styles/style.scss";
// Component Imports
import MainHead from "../components/MainHead.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  meta: any;
  slugURL: string;
  canonicalURL: string;
  metaImage: string;
  genericData: any;
}

const { meta, slugURL, canonicalURL, metaImage, genericData } =
  Astro.props as Props;
---

<html lang="en">
  <head>
    <MainHead {meta} {metaImage} {slugURL} {canonicalURL} />
  </head>
  <body>
    <div class="flex flex-wrap w-full h-full">
      <div class="block w-full">
        <Navbar {slugURL} {genericData} />
        <main>
          <slot />
        </main>
      </div>
      <Footer {genericData} />
    </div>

    {
      /*<script>
          (function() {
            var id = 'c7a663ac-d1e9-11ec-a915-0242ac130002';
            var ci_search = document.createElement('script');
            ci_search.type = 'text/javascript';
            ci_search.async = true;
            ci_search.src = 'https://cse.expertrec.com/api/js/ci_common.js?id=' + id;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ci_search, s);
          })();
        </script>*/
    }
  </body>
</html>
